.navbar{
    --width:5vw;
    padding: 5px;
    padding-top: 15px;
    min-width: var(--width);
    height: 100%;
    background-color: var(--background-navbar);
}
.navbar_icon{
    display: flex;
    justify-content: center;
}
.navbar_icon_item{
    cursor: pointer;
    color: white;
    font-size: 35px
}
.navbar_icon_item:hover{
    color: orange;
}