:root {
    --background-navbar:#2D3943;
    --background-app: #F7F7F7
}
*{box-sizing: border-box;}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: var(--background-app)
}
